# Virtual environment
venv/
.venv/

# Python bytecode
*.pyc

# IDE config files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Environment variables
.env

# FastAPI specific
*.sqlite  # If using SQLite DB file (but ignore if using a proper database)

uploads/
frontend/
# Test File

spectrum.html
test.html
tt.html
it.html
itt.html
ittt.html
integrate.html